/****************
Main CSS
****************/
@import url('https://fonts.googleapis.com/css?family=Heebo:700|Poppins');

h1,h2,h3, h1 a, h2 a, h3 a, .nav-link {
  font-family: 'Heebo', sans-serif;
  letter-spacing: .0125rem;
}

h1 a, h2 a, h3 a {
  text-decoration: none;
  color: dodgerblue;
}

h1 a:hover, h2 a:hover, h3 a:hover {
  text-decoration: none;
  color: dodgerblue;
}

h2 {
  color: white;
  font-size: 2rem;
}

h3 {
  font-size: 1.125rem;
}

p, a {
  font-family: 'Poppins', sans-serif;
  color: white;
}

a {
  font-size: 15px;
}

p {
  font-size: 20px;
  letter-spacing: .0125rem;
  line-height:32px;
}

body, main {
  background:#FFFFFF;
}

section, .section {
  position: relative;
  padding: 0rem 0rem !important;
}

figure {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover!important;
}

/****************
Buttons
****************/
.page-link {
  background: none;
  border: 2px solid;
  border-bottom-width: 4px;
  letter-spacing: inherit;
  text-transform: inherit;
  transition: color 1s;
  color: #82d96b;
}
.page-link:hover {
  -webkit-animation: blinds 0.75s linear forwards;
          animation: blinds 0.75s linear forwards;
  background: linear-gradient(0deg, #88d6f3 25%, transparent 25%) 0 0/0.5em 0.5em, linear-gradient(0deg, #000 50%, transparent 50%) 0 0/1em 1em;
  color: #82d96b;
  border-color: #82d96b;
}

@-webkit-keyframes blinds {
  100% {
    background-position: 0 0, 0 -3em;
    background-size: 0 0, 1em 6em;
  }
}

.btn-primary {
    color: #1589FF;
    background-color: #fff;
    border-color: #fff;
    align-content: center;
    margin: .85rem 0rem;
}

.btn-block {
  height: 100%;
  color: white;
  background-color: #82CAFF;
  border-color: #82CAFF;
}

.btn-block:hover {
  background-color: #82CAFF;
  border-color: #82CAFF;
}

/****************
Nav
****************/

.bg-dark {
  background-color:#1589FF!important;
}

.bg-dark > .container-fluid {
    max-width: 77%;
}

.navbar-brand {
  margin-top: .85rem;
  margin-bottom: .85rem;
  margin-right:.25rem;
  margin-left: .25rem;
  /* width:500px; */
  text-align: center;
  font-size: 20Px;
  /* max-width: 100px; */
  /* min-width: 1px; */
  /* flex-wrap: wrap; */
  white-space: normal;
}

.navbar-link {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  margin-right:.25rem;
  margin-left: .25rem;
  /* width:500px; */
  text-align: center;
  font-size: 12px;
  /* max-width: 100px; */
  white-space: normal;
}
/*.row {
  white-space: normal;
}
*/
.nav-item {
    text-transform: capitalize;
}

.nav-link{
  font-size: 1.125rem;
  text-transform: uppercase;

}

.navbar-dark .navbar-nav .nav-link {
    color:#fff;
}

/****************
Home Page Template
****************/
.cat-tag{
  position:absolute;
  background:#000;
  color:#82d96b;
  padding: 5px 10px;
  font-family: Heebo, sans-serif;
}

.title {
  background:#f7f7f7;
  text-transform: capitalize;
  padding:1rem;
}

.subtitle {
  color:#fff;
}

.articles-container {
  background:#fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.25);
  -webkit-transition: margin 260ms cubic-bezier(.25,.46,.45,.94),transform 520ms cubic-bezier(.25,.46,.45,.94);
    -moz-transition: margin 260ms cubic-bezier(.25,.46,.45,.94),transform 520ms cubic-bezier(.25,.46,.45,.94);
    -ms-transition: margin 260ms cubic-bezier(.25,.46,.45,.94),transform 520ms cubic-bezier(.25,.46,.45,.94);
    -o-transition: margin 260ms cubic-bezier(.25,.46,.45,.94),transform 520ms cubic-bezier(.25,.46,.45,.94);
    transition: margin 260ms cubic-bezier(.25,.46,.45,.94),transform 520ms cubic-bezier(.25,.46,.45,.94);
}

.articles-container.shrink {
  margin: 2rem 2rem 0 2rem;
  -webkit-transition: margin 260ms cubic-bezier(.25,.46,.45,.94),transform 520ms cubic-bezier(.25,.46,.45,.94);
    -moz-transition: margin 260ms cubic-bezier(.25,.46,.45,.94),transform 520ms cubic-bezier(.25,.46,.45,.94);
    -ms-transition: margin 260ms cubic-bezier(.25,.46,.45,.94),transform 520ms cubic-bezier(.25,.46,.45,.94);
    -o-transition: margin 260ms cubic-bezier(.25,.46,.45,.94),transform 520ms cubic-bezier(.25,.46,.45,.94);
    transition: margin 260ms cubic-bezier(.25,.46,.45,.94),transform 520ms cubic-bezier(.25,.46,.45,.94);
}

.articles-container > .container {
  max-width: 100%;
}

.article {
  margin-top:2rem;
  padding: 0 2.5rem;
}

.main {
    position:relative;
    display: flex;
    justify-content: space-around;
    margin-top:2rem;
}

.aside .row {
  justify-content: space-around;
}

.featured-article {
  width:100%;
}

.featured-article figure {
  width:100%;
  height:220px;
  padding-top: 56.25%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.article figure {
  width:100%;
  height:180px;
  padding-top: 75%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin:0;
}

.featured-wrap {
  position:relative;
}

.featured-title {
  background:rgba(0,0,0,.7);
  text-transform: capitalize;
  position:absolute;
  bottom:0;
  width: 100%;
  padding:1rem;
}

.featured-title a {
  color:#fff;
}

.featured-title a:hover {
  color:#fff;
}

.featured-title h2 {
  margin:0;
}
/****************
Single Page Template
****************/

.jumbotron {
  margin-bottom:0;
  height: 155px;
  display: flex;
  /* margin: auto; */
  align-items: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover!important;
}

.jumbo-heading {
  background:#fff;
}

.jumbo-lead {
  background:#000;
  color:#82d96b;
}

article {
  background:#fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.25);
  -webkit-transition: margin 260ms cubic-bezier(.25,.46,.45,.94),transform 520ms cubic-bezier(.25,.46,.45,.94);
    -moz-transition: margin 260ms cubic-bezier(.25,.46,.45,.94),transform 520ms cubic-bezier(.25,.46,.45,.94);
    -ms-transition: margin 260ms cubic-bezier(.25,.46,.45,.94),transform 520ms cubic-bezier(.25,.46,.45,.94);
    -o-transition: margin 260ms cubic-bezier(.25,.46,.45,.94),transform 520ms cubic-bezier(.25,.46,.45,.94);
    transition: margin 260ms cubic-bezier(.25,.46,.45,.94),transform 520ms cubic-bezier(.25,.46,.45,.94);
}

article.shrink {
  margin: 2rem 2rem 0 2rem;
  -webkit-transition: margin 260ms cubic-bezier(.25,.46,.45,.94),transform 520ms cubic-bezier(.25,.46,.45,.94);
    -moz-transition: margin 260ms cubic-bezier(.25,.46,.45,.94),transform 520ms cubic-bezier(.25,.46,.45,.94);
    -ms-transition: margin 260ms cubic-bezier(.25,.46,.45,.94),transform 520ms cubic-bezier(.25,.46,.45,.94);
    -o-transition: margin 260ms cubic-bezier(.25,.46,.45,.94),transform 520ms cubic-bezier(.25,.46,.45,.94);
    transition: margin 260ms cubic-bezier(.25,.46,.45,.94),transform 520ms cubic-bezier(.25,.46,.45,.94);
}

.article-wrap {
  max-width:600px;
  margin:0 auto;
  padding: 5rem 1rem;
}

.article-details {
  text-align: center;
}

.article-content>p:first-child:first-letter {
  color: #82d96b;
  background:#000;
  float:left;
  font-size: 75px;
  line-height: 60px;
  padding: 4px;
  margin-right: 8px;
}

.article-content a {
  text-decoration: underline;
  color:#000;
}

.page-nav {
  display:flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.related-content .container {
  margin-bottom:3rem;
}

/****************
Markdown
****************/
.twitter-tweet {
    border-left: 4px solid #0594cb;
    padding-left: 1em;
}

blockquote {
  font-style: italic;
  padding:0 1rem;
}

/****************
Single Page Video Template
****************/

section.video {
  padding:0 1rem;
}

/****************
List Page Template
****************/
.cat-page {
  background:#fff;
}

.cat-list {
  max-width:600px;
  margin:0 auto;
}

.cat-list .container {
  margin-bottom:2rem;
}

.cat-list figure {
  height:200px;
  max-width: 100%;
  background-position: 50% 50%;
  background-size: cover;
}

.seperator {
  background-color: #c8c8c8;
  height:1px;
  margin: 4rem auto;
  max-width:400px;
  width:100%;
  display: block;
}

/****************
Phone
****************/

@media (min-width: 320px) {
  .jumbotron {
    height: 165px;
    /* width: 992px; */
    max-width: 768px;
    margin: auto;
    padding: 2rem 1rem;
  }

  .carousel-cell {
  width: 100%; /* full width */
  height: 200px; /* height of carousel */
  background-position: 50% 50%;
  background-size: cover;
  }

  .featured-article figure {
  width:100%;
  height:220px;
  padding-top: 56.25%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  }
}

/****************
Tablet
****************/

@media (min-width: 576px) {
  .jumbotron {
    height: 300px;
    /* width: 992px; */
    max-width: 768px;
    margin: auto;
    padding: 2rem 1rem;
  }

  .carousel-cell {
  width: 100%; /* full width */
  height: 300px; /* height of carousel */
  background-position: 50% 50%;
  background-size: cover;
  }
}

/****************
Laptop
****************/

@media (min-width: 768px) {
  .jumbotron {
    height: 410px;
    /* width: 992px; */
    max-width: 992px;
    margin: auto;
    padding: 2rem 1rem;
  }
}

/****************
Desktop
****************/

@media (min-width: 992px) {

.navbar-expand-lg {
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}


.aside {
  border-left: 1px solid #c8c8c8;
}

.fixed .main {
    height:100%;
    top:0px;
    position:fixed;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

.fixed .aside {
    position:relative;
    margin-left: auto;
    overflow: hidden;
}

.bottom .featured-article {
  position: absolute;
  bottom: 0;
}

.featured-article {
  padding: 0 2.5rem;
}

section, .section {
  padding: 1rem 0;
}

.flickity-title {
  position:absolute;
  bottom:0;
  color:#fff;
  margin: 0 auto 1rem 5rem;
  max-width: 1240px;
}

.flickity-title a {
  font-size: 3rem;
}

.jumbotron {
  height: 530px;
  /* width: 992px; */
  max-width: 1440px;
  margin: auto;
  padding: 2rem 1rem;
}

.articles-container.shrink {
  margin: 2rem 2rem 0 2rem;
}

article.shrink {
  margin: 2rem 5rem 0 5rem;
}
}

/****************
Vendor: Flickity
****************/
.overlay {
    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
}

.carousel-cell {
  width: 100%; /* full width */
  /* height: 165px; */ /* height of carousel */
  background-position: 50% 50%;
  background-size: cover;
}

.carousel-cell .container {
  z-index: 2;
}

.carousel-cell a {
  color:#fff;
}

.carousel-cell a:hover {
  color:#fff;
}

.flickity-title {
  position:absolute;
  color:#fff;
  margin: 2rem;
}
