{{ define "main" }}
<div class="single-page">
<!--section class="jumbotron jumbotron-fluid" style="background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  ), url"('{{ .Params.featured_image }}');">
  <div class="container">

  </div>
</section-->
<br />
<article class="summary">
  <div class="row justify-content-center">
    <div class="col-lg-3 text-center">
      <br />
      <img src="{{ .Params.featured_image }}" width=40%>
      <br />
      <p class="thick">{{ .Params.Author }}</p>
      <!--insert author bio below-->
      <h3>Excepteur sint occaecat
      cupidatat non proident, sunt in
      culpa qui officia deserunt
      mollit anim id est laborum.</h3>
      <p class="navbar-brand" href="https://twitter.com/?lang=en"><i class="fas fa-globe-americas"></i></p>
      <p class="navbar-brand" href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></p>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-lg-5">
      <h1>{{ .Title }}</h1>
      <!--p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco poriti
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in uienply
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat norin
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p-->
      <p> {{ .Summary }} </p>
    </div>
  </div>
</article>

<article class="shrink">
  <div class="article-wrap">
    <h1>{{ .Title }}</h1>
    <p>This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    <div class="article-details">
      <p>Author: {{ .Params.Author }}</p>
          <span class="seperator"></span>
    </div>
  <div class="article-content">
    {{ .Content }}
  </div>
    <div class="page-nav pagination">
        {{ with .PrevInSection }}
          <a class="previous page-item page-link" href="{{.Permalink}}">Previous</a>
        {{ end }}
        {{ with .NextInSection }}
          <a class="next page-item page-link" href="{{.Permalink}}">Next</a>
        {{ end }}
    </div>

      {{ $related := .Site.RegularPages.Related . | first 3 }}
      {{ with $related }}
                <span class="seperator"></span>
      <div class="related-content">
      <h3>See Also</h3>
      	{{ range . }}
        <div class="container">
          <div class="row">
            <div class="col-12">
               <figure style="background-image: url('{{ .Params.featured_image }}');height: 200px;"></figure>
            </div>
            <div class="col-12">
              <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            </div>
          </div>
        </div>
      	{{ end }}

      </div>
      {{ end }}
  </div>
</article>
  </div>
{{ end }}
