<footer class="section bg-dark">
<div class="container-fluid">
  <div class="row no-gutter justify-content-center">
    <div class="col-sm-2 justify-content-center">
      <a class="navbar-brand" href="#">CoinNews Feed</a>
      <!--img src="/img/logo_dark.svg" style="max-width:350px"-->
    </div>
    <div class="col-sm-4">
      <div class="row no-gutter justify-content-center">
        <a class="navbar-link" href="{{ "/categories/" | relLangURL }}{{ "News" | urlize }}">NEWS</a>
        <a class="navbar-link" href="{{ "/categories/" | relLangURL }}{{ "Sport" | urlize }}">SPORT</a>
        <a class="navbar-link" href="{{ "/categories/" | relLangURL }}{{ "Weather" | urlize }}">WEATHER</a>
        <a class="navbar-link" href="{{ "/categories/" | relLangURL }}{{ "Future" | urlize }}">FUTURE</a>
      </div>
    </div>
    <div class="col-sm-2 justify-content-center">
      <div class="row justify-content-center">
        <div class="col">
          <a class="navbar-brand" href="https://www.instagram.com/accounts/login/?hl=en"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="col">
          <a class="navbar-brand" href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="col">
          <a class="navbar-brand" href="https://www.fb.com"><i class="fab fa-facebook-f"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-2 justify-center">
      <div class="row no-gutter justify-content-center">
        <button type="button" class="btn btn-primary">Subscribe</button>
      </div>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-info btn-block" href="#">&#8679;</button>
    </div>
  </div>
</div>
{{ partial "scripts.html" . }}
</footer>
